[Desktop Entry]
Name=engineblock
Exec=eb %F
Icon=eb
Type=Application
Categories=Development;Network;Utility;Science;
Comment=EngineBlock Core Module
MimeType=text/yaml;application/yaml;
Name[en]=eb
Terminal=false
StartupNotify=true
NoDisplay=false
